html,
body {
  height: 100%;
  width: 100%;
}

* {
  text-align: center;
  align-items: center;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: whitesmoke;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 5vh;
}

.btnNewGame {
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  border: 1px solid darkred;
  cursor: pointer;
  font-weight: 400px;
  padding: 3vh 7.5vh;
  font-size: 3.5vh;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0;
}

#flips {
  font-size: 3.5vh;
}

#gameInfo {
  display: flex;
  gap: 30px;
}

#container {
  width: 80%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 18vh);
  grid-template-rows: repeat(3, 21vh);
  gap: 3vh;
  margin-bottom: 1vh;
}

.card {
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid black;
}

.card img {
  max-height: 90%;
  max-width: 90%;
  transition: transform 0.55s;
}

.card.back img {
  transform: scale(0);
}

.card.back {
  background-color: darkred;
}

.card.correct {
  border: 3px solid green;
}

.card.incorrect {
  border: 3px solid darkred;
}
